{% extends 'base.html' %} {% block content %}
{% load static %}
<script src="{% static 'js/effect.js' %}"></script>
<div class="dalam-border" style="color:black;">
  <h1 class="title-center">Peminjaman Buku</h1>
  <hr />
  <form method="POST" class="form-horizontal">
    {% csrf_token %}
    <table>
      <!-- prettier-ignore -->
      {{ form }}
    </table>
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <button
      type="submit"
      class="btn btn-primary"
      style="display: block; margin: 0 auto; margin-top:5%; width:30%; "
    >
      Pinjam
    </button>
  </form>
</div>
{% endblock %}
