{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="dalam-border" style="color:black;">
  <h1 class="title-center">Peminjaman Buku</h1>
  <hr />
  <form method="POST" class="form-horizontal">
    <input type="hidden" name="alert" value="{{alert}}" readonly>
    {% csrf_token %}
    <table>
      <!-- prettier-ignore -->
      {{ form }}
    </table>
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li style="text-align: center;">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <button
      type="submit"
      class="btn btn-primary"
      style="display: block; margin: 0 auto; margin-top:5%; width:30%; "
    >
      Pinjam
    </button>
  </form>
</div>

<script src={% static 'js/effect_pinjam.js' %} type="text/javascript" charset="utf-8"></script>
{% endblock %}
