<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Form Anggota</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="dalam-border" style="color:black;">
		<h1 class="title-center">Login</h1>
		<hr>
		<form method ="POST" class="form-horizontal">
			{% csrf_token %}
			<table>
				{{ form.as_p }}
			</table>
			<button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto; margin-top:5%; width:30%; ">Login</button>
			<p><strong>-- OR --</strong></p>
			<a href="{% url 'social:begin' 'google-oauth2' %}"  style="color: blue">Login with Google</a><br>
			
		</form>
	</div>
</body>
</html>