{% extends 'base.html' %} {% block content %}
<div class="dalam-border" style="color:black;">
	<h1 class="title-center">Registrasi Anggota</h1>
	<hr>
	<form method ="POST" class="form-horizontal">
		{% csrf_token %}
		<table>
		{{ register_form }}
		</table>
	<button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto; margin-top:5%; width:30%; ">Daftar</button>
	</form>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/js/checkRegisterForms.js" type="text/javascript" charset="utf-8" async defer></script>
{% endblock %}

