{% extends 'base.html' %} 
{% load static %}{% block content %}
    
    <div class="flex-container">
      <img src="{% static 'img/undraw_book_lover_mkck.svg' %}" class="landing-photo">
      <div class="mx-auto">
        <h1 class="judul">SIJAMBU MUDA</h1>
        <p class="singkatan">Sistem Peminjaman Buku Perpustakaan MUDA</p>
        <a href="/register"><button type="button" class="btn btn-primary">Daftar sekarang</button></a>
      </div>
    </div>
    {% if user.is_authenticated %}
    {% else %}
      <a class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}
  </div>
  <script src={% static 'js/effect.js' %} type="text/javascript" charset="utf-8"></script>
  <br>
  <br>
  <br>
  {% endblock %}
