{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="dalam-border" style="margin-bottom: 5px;">
        <div id = "about">
    <h1>Tentang SijambuMuda</h1>
    <p>SiJambuMuda Merupakan sebuah website peminjaman buku</p>
    </div>

    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit"> Post Komentar</button>
    </form>
</div>
<div class="dalam-border">
    {% for testimoni in isi %}
    <h2>{{ testimoni.Username }}</h2>
    <p>{{ testimoni.Pesan }}</p>
    <h4>{{ testimoni.Tanggal_Pesan }}</h4>
    {% endfor %}
</div>
<script src={% static 'js/effect_about.js' %} type="text/javascript" charset="utf-8"></script>
{% endblock %}