{% extends 'base.html' %} 
{% block content %}
    <h1 class="title-center" style="margin-left: 20%; margin-right: 20%; margin-top:5%;padding: 3%;">Daftar Buku</h1>
        {% for data in data_base %}
        <div class="border">
            <div class="flex-container">
            <img src="{{ data.cover.url }}" alt="" class="img-responsive">
            <div class="mx-auto">
                <p class="mb-0 mt-10"><b>Nomor Buku    :</b> {{ data.nomor_buku }}</p>
                <p class="mb-0"><b>Judul Buku</b>    : {{ data.judul_buku }}</p>
                <p class="mb-0"><b>Pengarang</b>     : {{ data.pengarang }}</p>
                <p class="mb-0"><b>Kategori</b>      : {{ data.kategori }}</p>
                <p class="mb-0"><b>Penerbit</b>      : {{ data.penerbit }}</p>
                <p class="mb-10"><b>Sinopsis</b>      : {{ data.sinopsis }}</p>
                {% if data.kuota == 0 %}
                <td class="empty"> Buku habis </td>
                {% else %}
                <td> {{data.kuota}} </td>
                {% endif %}
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}