<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daftar Buku</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid" id="NAV">
                <a class="navbar-brand" href="#">SIJAMBU MUDA</a>
                <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="nav navbar-nav ml-auto">
                    <li>
                    <a class="nav-item nav-link" href="#">Jadi Anggota </a>
                    </li>
                    <li>
                    <a class="nav-item nav-link" href="/buku/">Daftar Buku</a>
                    </li>
                    <li>
                    <a class="nav-item nav-link" href="#">Pinjam Buku</a>
                    </li>
                    <li>
                    <a class="nav-item nav-link" href="#">Daftar Pinjaman</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

        {% for data in data_base %}
        <div class="row border rounded d-flex flex-row ">
            <img src="{{ data.cover.url }}" alt="" class="img-thumbnail">
            <div class="d-flex flex-column">
                <p class="mb-0 mt-10">Nomor Buku    : {{ data.nomor_buku }}</p>
                <p class="mb-0">Judul Buku    : {{ data.judul_buku }}</p>
                <p class="mb-0">Pengarang     : {{ data.pengarang }}</p>
                <p class="mb-0">Kategori      : {{ data.kategori }}</p>
                <p class="mb-0">Penerbit      : {{ data.penerbit }}</p>
                <p class="mb-10">Sinopsis      : {{ data.sinopsis }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>